@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	color: white;
	font-family: celibri;
}

.header {
	background: url(../image/abcd.jpg);
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
}

.h-1 {
	max-width: 1000px;
	margin: auto;
	padding: 20px 0;
}

.h-1 h1 {
	font-size: 44px;
	color: #00ffb8;
}

.h-1 p {
	font-weight: bold;
	font-size: 60px;
	color: yellow;
}

.h-1 a {
	text-decoration: none;
	color: red;
	background: #8bc34a;
	font-size: 30px;
	padding: 4px 20px;
	border-radius: 30px;
	margin: 10px;
}