@charset "UTF-8";

.registerform {
	width: 400px;
	background-color: #24303c;
	padding: 30px;
	color: white;
	font-family: Calibri;
	border-radius: 3px;
}

.registerform h5 {
	margin: 0;
	font-size: 22px;
	margin-bottom: 20px;
	font-weight: normal;
}

.txtbox {
	background-color: #24303c;
	border: 1px solid #1f53c5;
	font-size: 18px;
	width: 95%;
	padding: 10px;
	margin-bottom: 16px;
	border-radius: 40px;
	color: white;
}

.registerform p {
	float: left;
	font-size: 18px:margin:0 5px 0 0;
}

.registerform a {
	font-size: 18px;
	color: white;
}

.btn {
	width: 100%;
	margin: 16px 0px;
	background-color: #1f53c5;
	border: 0;
	padding: 12px;
	font-size: 16px;
}